textarea {
    border: 1px grey dotted;
    outline: none;
    color: grey;
}
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 40px;
    margin: 10px;
    color: grey;
}
#container {
    margin: 20px auto auto auto;
    text-align: center;
    height: auto;
    width: 1000px;
    background: whitesmoke;
    border-top: 3px grey solid;
    border-bottom: 3px grey solid;
    border-left: 1px grey dotted;
    border-right: 1px grey dotted;
    padding-bottom: 15px;
    box-shadow: 0 0 5px grey;
}
#toUpperCaseButton, #toLowerCaseButton {
    margin-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: grey;
    color: whitesmoke;
    border: none;
}